<div id="content" class="box">
    <div id="sidebar" class="box-content ani-width">
        <div id="sidebar-scroll">
            <ul class="" id="sidebar-menu">
                <li class="active    main">
                    <a href="dashboard.html">
                        <i class="fa fa-desktop"></i>
                        <span>Dashboard</span>
                </li>
                </a>
                <li class="    main">
                    <a href="/crm/templates/timeline.html">
                        <i class="fa  fa-comments font-18"></i>
                        <span>Timeline</span>
                    </a>
                </li>
                <li class="    main">
                    <a href="/crm/templates/events.html">
                        <i class="fa fa-calendar"></i>
                        <span>Events</span>
                    </a>
                </li>
                <li class="    main">
                    <a href="/crm/templates/notes.html">
                        <i class="fa fa-book font-16"></i>
                        <span>Notes</span>
                    </a>
                </li>
                <li class="   devider main">
                    <a href="/crm/templates/messages.html">
                        <i class="fa fa-envelope"></i>
                        <span>Messages</span>
                    </a>
                </li>
                <li class="    main">
                    <a href="/crm/templates/clients.html">
                        <i class="fa fa-briefcase"></i>
                        <span>Clients</span>
                    </a>
                </li>
                <li class="  expand    main">
                    <a href="/crm/templates/projects.html">
                        <i class="fa fa-th-large"></i>
                        <span>Projects</span>
                    </a>
                    <ul>
                        <li class="">
                            <a href="/crm/templates/Projects/all_projects.html">
                                <i class="dot fa fa-circle"></i>
                                <span>All Projects</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/crm/templates/Projects/my_tasks.html">
                                <i class="dot fa fa-circle"></i>
                                <span>My Tasks</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="    main">
                    <a href="/crm/templates/invoices.html">
                        <i class="fa fa-file-text"></i>
                        <span>Invoices</span>
                    </a>
                </li>
                <li class="  expand    main">
                    <a href="/crm/templates/expenses.html">
                        <i class="fa fa-money"></i>
                        <span>Finance</span>
                    </a>
                    <ul>
                        <li class="">
                            <a href="/crm/templates/invoice_payments.html">
                                <i class="dot fa fa-circle"></i>
                                <span>Payments</span>
                            </a>
                        </li>
                        <li class="">
                            <a href="/crm/templates/expenses.html">
                                <i class="dot fa fa-circle"></i>
                                <span>Expenses</span>
                            </a>
                        </li>
                    </ul>
                </li>
                <li class="   devider main">
                    <a href="/crm/templates/tickets.html">
                        <i class="fa fa-life-ring"></i>
                        <span>Tickets</span>
                        <span class='badge badge-secondary'>1</span> </a>
                </li>
                <li class="    main">
                    <a href="/crm/templates/team_members.html">
                        <i class="fa fa-user font-16"></i>
                        <span>Team members</span>
                    </a>
                </li>
                <li class="    main">
                    <a href="/crm/templates/attendance.html">
                        <i class="fa fa-clock-o font-16"></i>
                        <span>Time cards</span>
                    </a>
                </li>
                <li class="   devider main">
                    <a href="/crm/templates/leaves.html">
                        <i class="fa fa-sign-out font-16"></i>
                        <span>Leave</span>
                    </a>
                </li>
                <li class="    main">
                    <a href="/crm/templates/announcements.html">
                        <i class="fa fa-bullhorn"></i>
                        <span>Announcements</span>
                    </a>
                </li>
                <li class="    main">
                    <a href="/crm/templates/settings/general.html">
                        <i class="fa fa-wrench"></i>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <!-- sidebar menu end -->
    <div id="page-container" class="box-content">
        <div id="pre-loader">
            <div id="pre-loade" class="app-loader">
                <div class="loading"></div>
            </div>
        </div>
        <div class="scrollable-page">
            <div id="page-content" class="p20 clearfix">
                <div class="row">
                    <div class="col-md-3 col-sm-6 widget-container">
                        <div class="panel panel-info">
                            <div class="panel-body ">
                                <div class="widget-icon">
                                    <i class="fa fa-clock-o"></i>
                                </div>
                                <div class="widget-details">
                                    <div class='mb15' title='20/07/2020 06:21 PM'>Clock started at : 06:21 PM</div>
                                    <a href="#" class="btn btn-default no-border" title="Clock Out" data-inline-loader="1" data-closest-target=".widget-container" data-act="ajax-request" data-action-url="https://mindhatsolutions.com/portal/risecrm/index.php/attendance/log_time"><i class='fa fa-sign-out'></i> Clock Out</a>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6  widget-container">
                        <div class="panel panel-sky">
                            <div class="panel-body ">
                                <div class="widget-icon">
                                    <i class="fa fa-tasks"></i>
                                </div>
                                <div class="widget-details">
                                    <h1>0</h1>
                                    <a href="https://mindhatsolutions.com/portal/risecrm/index.php/projects/my_tasks" class="white-link">My open tasks</a> </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6  widget-container">
                        <div class="panel panel-success">
                            <div class="panel-body ">
                                <div class="widget-icon">
                                    <i class="fa fa-calendar-check-o"></i>
                                </div>
                                <div class="widget-details">
                                    <h1>0</h1>
                                    <a href="https://mindhatsolutions.com/portal/risecrm/index.php/events" class="white-link">Events today</a> </div>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6  widget-container">
                        <div class="panel panel-primary">
                            <div class="panel-body ">
                                <div class="widget-icon">
                                    <i class="fa fa-comments"></i>
                                </div>
                                <div class="widget-details">
                                    <h1>0</h1>
                                    <a href="https://mindhatsolutions.com/portal/risecrm/index.php/timeline" class="white-link">New posts</a> </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                    <div class="col-md-5">
                        <div class="row">
                            <div class="col-md-12 mb20 text-center">
                                <div class="bg-white">
                                    <div class="box">
                                        <div class="box-content widget-container b-r">
                                            <div class="panel-body ">
                                                <h1 class="">5</h1>
                                                <span class="text-off uppercase">Open Projects</span>
                                            </div>
                                        </div>
                                        <div class="box-content widget-container ">
                                            <div class="panel-body ">
                                                <h1>3</h1>
                                                <span class="text-off uppercase">Projects Completed</span>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="box b-t bg-white">
                                        <div class="box-content widget-container b-r">
                                            <div class="panel panel-default mb0 no-boxshadow">
                                                <div class="panel-body ">
                                                    <h1>7</h1>
                                                    <span class="text-off uppercase">Members Clocked In</span>

                                                </div>
                                            </div>
                                        </div>
                                        <div class="box-content widget-container">
                                            <div class="panel panel-default mb0 b-l no-boxshadow">
                                                <div class="panel-body ">
                                                    <h1 class="">17</h1>
                                                    <span class="text-off uppercase">Members Clocked Out</span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa fa-file-text-o"></i>&nbsp; Invoice Statistics </div>
                                    <div class="panel-body ">
                                        <div id="timesheet-statistics-flotchart" style="width: 100%; height: 300px;"></div>
                                    </div>
                                </div>

                                <script type="text/javascript">
                                    $(document).ready(function() {
                                        var invoiceStatisticsFlotchart = function() {
                                            var invoices = [
                                                    [1, "0"],
                                                    [2, "20400"],
                                                    [3, "0"],
                                                    [4, "16320"],
                                                    [5, "22760"],
                                                    [6, 0],
                                                    [7, "29500"],
                                                    [8, "14683.92"],
                                                    [9, 0],
                                                    [10, 0],
                                                    [11, 0],
                                                    [12, 0]
                                                ],
                                                payments = [
                                                    [1, 0],
                                                    [2, "10000"],
                                                    [3, 0],
                                                    [4, "135000"],
                                                    [5, "40000"],
                                                    [6, 0],
                                                    [7, 0],
                                                    [8, 0],
                                                    [9, 0],
                                                    [10, 0],
                                                    [11, 0],
                                                    [12, 0]
                                                ],
                                                dataset = [{
                                                    label: "Invoice",
                                                    data: invoices,
                                                    color: "rgba(220,220,220,1)",
                                                    lines: {
                                                        show: true,
                                                        fill: 0.2
                                                    },
                                                    shadowSize: 0
                                                }, {
                                                    data: invoices,
                                                    color: "#fff",
                                                    lines: {
                                                        show: false
                                                    },
                                                    points: {
                                                        show: true,
                                                        fill: true,
                                                        radius: 4,
                                                        fillColor: "rgba(210,210,220,1)",
                                                        lineWidth: 2
                                                    },
                                                    curvedLines: {
                                                        apply: false
                                                    },
                                                    shadowSize: 0
                                                }, {
                                                    label: "Payment",
                                                    data: payments,
                                                    color: "rgba(0, 179, 147, 1)",
                                                    lines: {
                                                        show: true,
                                                        fill: 0.2
                                                    },
                                                    shadowSize: 0
                                                }, {
                                                    data: payments,
                                                    color: "#fff",
                                                    lines: {
                                                        show: false
                                                    },
                                                    curvedLines: {
                                                        apply: false
                                                    },
                                                    points: {
                                                        show: true,
                                                        fill: true,
                                                        radius: 4,
                                                        fillColor: "#00B393",
                                                        lineWidth: 2
                                                    },
                                                    shadowSize: 0
                                                }];

                                            $.plot("#timesheet-statistics-flotchart", dataset, {
                                                series: {
                                                    lines: {
                                                        show: true,
                                                        fill: 0.3
                                                    },
                                                    shadowSize: 0,
                                                    curvedLines: {
                                                        apply: true,
                                                        active: true
                                                    }
                                                },
                                                legend: {
                                                    show: true
                                                },
                                                yaxis: {
                                                    min: 0
                                                },
                                                xaxis: {
                                                    ticks: [
                                                        [1, "Jan"],
                                                        [2, "Feb"],
                                                        [3, "Mar"],
                                                        [4, "Apr"],
                                                        [5, "May"],
                                                        [6, "Jun"],
                                                        [7, "Jul"],
                                                        [8, "Aug"],
                                                        [9, "Sep"],
                                                        [10, "Oct"],
                                                        [11, "Nov"],
                                                        [12, "Dec"]
                                                    ]
                                                },
                                                grid: {
                                                    color: "#bbb",
                                                    hoverable: true,
                                                    borderWidth: 0,
                                                    backgroundColor: '#FFF'
                                                },
                                                tooltip: true,
                                                tooltipOpts: {
                                                    content: function(x, y, z) {
                                                        if (x) {
                                                            return "%s: " + toCurrency(z);
                                                        } else {
                                                            return toCurrency(z);
                                                        }
                                                    },
                                                    defaultTheme: false
                                                }
                                            });

                                        };

                                        invoiceStatisticsFlotchart();
                                    });
                                </script>


                            </div>
                        </div>

                        <div class="row">
                            <div class="col-md-12 mb15">
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <i class="fa fa-life-ring"></i>&nbsp;Ticket Status </div>
                                    <div class="panel-body ">
                                        <div id="ticket-status-flotchart" style="width: 100%; height: 300px;"></div>
                                    </div>
                                </div>

                                <script type="text/javascript">
                                    $(document).ready(function() {

                                        var data = [{
                                            label: " New",
                                            data: "1" * 1,
                                            color: "#F0AD4E"
                                        }, {
                                            label: " Open",
                                            data: "2" * 1,
                                            color: "#F06C71"
                                        }, {
                                            label: " Closed",
                                            data: "9" * 1,
                                            color: "#00B393"
                                        }];

                                        $.plot('#ticket-status-flotchart', data, {
                                            series: {
                                                pie: {
                                                    show: true,
                                                    innerRadius: 0.5
                                                }
                                            },
                                            legend: {
                                                show: true
                                            },
                                            grid: {
                                                hoverable: true
                                            },
                                            tooltip: {
                                                show: true,
                                                content: "%s: %p.0%, %n", // show percentages, rounding to 2 decimal places
                                                shifts: {
                                                    x: 20,
                                                    y: 0
                                                },
                                                defaultTheme: false
                                            }
                                        });
                                    });
                                </script>
                            </div>
                        </div>

                    </div>

                    <div class="col-md-4 widget-container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-clock-o"></i>&nbsp; Project Timeline </div>
                            <div id="project-timeline-container">
                                <div class="panel-body">
                                    <div class="media b-b mb15">
                                        <div class="media-left">
                                            <span class="avatar avatar-xs">
            <img src="https://mindhatsolutions.com/portal/risecrm/assets/images/avatar.jpg" alt="..." />
        </span>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a href="https://mindhatsolutions.com/portal/risecrm/index.php/team_members/view/1" class="dark strong">Demo test</a> <small><span class="text-off">Jul 18 12:52 PM</span></small>
                                            </div>
                                            <p>
                                                <span class="label label-warning">Updated</span>
                                                <span>Task:  #6 - RMS ePOS devlopment</span>
                                                <ul>
                                                    <li>Status: <del>In progress</del> <ins>Done</ins></li>
                                                </ul>
                                            </p>

                                            <p> Project: <a href="https://mindhatsolutions.com/portal/risecrm/index.php/projects/view/32" class="dark">web design 2020</a></p>
                                        </div>
                                    </div>
                                    <div class="media b-b mb15">
                                        <div class="media-left">
                                            <span class="avatar avatar-xs">
            <img src="https://mindhatsolutions.com/portal/risecrm/assets/images/avatar.jpg" alt="..." />
        </span>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a href="https://mindhatsolutions.com/portal/risecrm/index.php/team_members/view/1" class="dark strong">Demo test</a> <small><span class="text-off">Jun 15 12:13 PM</span></small>
                                            </div>
                                            <p>
                                                <span class="label label-warning">Updated</span>
                                                <span>Task:  #6 - RMS ePOS devlopment</span>
                                                <ul>
                                                    <li>Status: <del>To do</del> <ins>In progress</ins></li>
                                                </ul>
                                            </p>

                                            <p> Project: <a href="https://mindhatsolutions.com/portal/risecrm/index.php/projects/view/32" class="dark">web design 2020</a></p>
                                        </div>
                                    </div>
                                    <div class="media b-b mb15">
                                        <div class="media-left">
                                            <span class="avatar avatar-xs">
            <img src="https://mindhatsolutions.com/portal/risecrm/assets/images/avatar.jpg" alt="..." />
        </span>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a href="https://mindhatsolutions.com/portal/risecrm/index.php/team_members/view/1" class="dark strong">Demo test</a> <small><span class="text-off">May 21 06:54 PM</span></small>
                                            </div>
                                            <p>
                                                <span class="label label-success">Added</span>
                                                <span>Milestone: Final Testing </span>
                                            </p>

                                            <p> Project: <a href="https://mindhatsolutions.com/portal/risecrm/index.php/projects/view/32" class="dark">web design 2020</a></p>
                                        </div>
                                    </div>
                                    <div class="media b-b mb15">
                                        <div class="media-left">
                                            <span class="avatar avatar-xs">
            <img src="https://mindhatsolutions.com/portal/risecrm/assets/images/avatar.jpg" alt="..." />
        </span>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a href="https://mindhatsolutions.com/portal/risecrm/index.php/team_members/view/1" class="dark strong">Demo test</a> <small><span class="text-off">May 21 06:53 PM</span></small>
                                            </div>
                                            <p>
                                                <span class="label label-success">Added</span>
                                                <span>Milestone: beta epos</span>
                                            </p>

                                            <p> Project: <a href="https://mindhatsolutions.com/portal/risecrm/index.php/projects/view/32" class="dark">web design 2020</a></p>
                                        </div>
                                    </div>
                                    <div class="media b-b mb15">
                                        <div class="media-left">
                                            <span class="avatar avatar-xs">
            <img src="https://mindhatsolutions.com/portal/risecrm/assets/images/avatar.jpg" alt="..." />
        </span>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a href="https://mindhatsolutions.com/portal/risecrm/index.php/team_members/view/1" class="dark strong">Demo test</a> <small><span class="text-off">May 21 06:52 PM</span></small>
                                            </div>
                                            <p>
                                                <span class="label label-success">Added</span>
                                                <span>Task:  #6 - RMS ePOS devlopment</span>
                                            </p>

                                            <p> Project: <a href="https://mindhatsolutions.com/portal/risecrm/index.php/projects/view/32" class="dark">web design 2020</a></p>
                                        </div>
                                    </div>
                                    <div class="media b-b mb15">
                                        <div class="media-left">
                                            <span class="avatar avatar-xs">
            <img src="https://mindhatsolutions.com/portal/risecrm/assets/images/avatar.jpg" alt="..." />
        </span>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a href="https://mindhatsolutions.com/portal/risecrm/index.php/team_members/view/1" class="dark strong">Demo test</a> <small><span class="text-off">Feb 15 04:15 PM</span></small>
                                            </div>
                                            <p>
                                                <span class="label label-danger">Deleted</span>
                                                <span>Milestone: designing</span>
                                            </p>

                                            <p> Project: <a href="https://mindhatsolutions.com/portal/risecrm/index.php/projects/view/29" class="dark">CA test </a></p>
                                        </div>
                                    </div>
                                    <div class="media b-b mb15">
                                        <div class="media-left">
                                            <span class="avatar avatar-xs">
            <img src="https://mindhatsolutions.com/portal/risecrm/assets/images/avatar.jpg" alt="..." />
        </span>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a href="https://mindhatsolutions.com/portal/risecrm/index.php/team_members/view/1" class="dark strong">Demo test</a> <small><span class="text-off">Feb 15 04:15 PM</span></small>
                                            </div>
                                            <p>
                                                <span class="label label-danger">Deleted</span>
                                                <span>Milestone: Requirement gathering</span>
                                            </p>

                                            <p> Project: <a href="https://mindhatsolutions.com/portal/risecrm/index.php/projects/view/29" class="dark">CA test </a></p>
                                        </div>
                                    </div>
                                    <div class="media b-b mb15">
                                        <div class="media-left">
                                            <span class="avatar avatar-xs">
            <img src="https://mindhatsolutions.com/portal/risecrm/assets/images/avatar.jpg" alt="..." />
        </span>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a href="https://mindhatsolutions.com/portal/risecrm/index.php/team_members/view/1" class="dark strong">Demo test</a> <small><span class="text-off">Feb 15 04:14 PM</span></small>
                                            </div>
                                            <p>
                                                <span class="label label-warning">Updated</span>
                                                <span>Milestone: Requirement gathering</span>
                                                <ul>
                                                    <li>Due date: <del>2020-02-05</del> <ins>2020-02-01</ins></li>
                                                </ul>
                                            </p>

                                            <p> Project: <a href="https://mindhatsolutions.com/portal/risecrm/index.php/projects/view/29" class="dark">CA test </a></p>
                                        </div>
                                    </div>
                                    <div class="media b-b mb15">
                                        <div class="media-left">
                                            <span class="avatar avatar-xs">
            <img src="https://mindhatsolutions.com/portal/risecrm/assets/images/avatar.jpg" alt="..." />
        </span>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a href="https://mindhatsolutions.com/portal/risecrm/index.php/team_members/view/28" class="dark strong">gaurav saroj</a> <small><span class="text-off">Feb 15 04:12 PM</span></small>
                                            </div>
                                            <p>
                                                <span class="label label-warning">Updated</span>
                                                <span>Task:  #5 - Requirement gathering</span>
                                                <ul>
                                                    <li>Status: <del>In progress</del> <ins>Done</ins></li>
                                                </ul>
                                            </p>

                                            <p> Project: <a href="https://mindhatsolutions.com/portal/risecrm/index.php/projects/view/29" class="dark">CA test </a></p>
                                        </div>
                                    </div>
                                    <div class="media b-b mb15">
                                        <div class="media-left">
                                            <span class="avatar avatar-xs">
            <img src="https://mindhatsolutions.com/portal/risecrm/assets/images/avatar.jpg" alt="..." />
        </span>
                                        </div>
                                        <div class="media-body">
                                            <div class="media-heading">
                                                <a href="https://mindhatsolutions.com/portal/risecrm/index.php/team_members/view/28" class="dark strong">gaurav saroj</a> <small><span class="text-off">Feb 15 04:10 PM</span></small>
                                            </div>
                                            <p>
                                                <span class="label label-warning">Updated</span>
                                                <span>Task:  #5 - Requirement gathering</span>
                                                <ul>
                                                    <li>Status: <del>To do</del> <ins>In progress</ins></li>
                                                </ul>
                                            </p>

                                            <p> Project: <a href="https://mindhatsolutions.com/portal/risecrm/index.php/projects/view/29" class="dark">CA test </a></p>
                                        </div>
                                    </div>

                                    <div id="loadproject10">
                                        <div class="text-center">
                                            <a href="#" class="btn btn-default b-a load-more mt15" title="Load more" data-inline-loader="1" data-real-target="#loadproject10" data-act="ajax-request" data-action-url="https://mindhatsolutions.com/portal/risecrm/index.php/projects/history/10/0">Load more</a>                                            </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>


                    <div class="col-md-3 widget-container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-bar-chart"></i>&nbsp;Income vs Expenses </div>
                            <div class="panel-body ">
                                <div id="income-expense" style="width: 100%; height: 250px;"></div>
                            </div>
                        </div>

                        <script type="text/javascript">
                            $(document).ready(function() {
                                var data = [{
                                    label: " Income",
                                    data: "40279272" * 1,
                                    color: "#00B393"
                                }, {
                                    label: " Expenses",
                                    data: "87734" * 1,
                                    color: "#F06C71"
                                }];

                                $.plot('#income-expense', data, {
                                    series: {
                                        pie: {
                                            show: true,
                                            innerRadius: 0.5
                                        }
                                    },
                                    legend: {
                                        show: true
                                    },
                                    grid: {
                                        hoverable: true
                                    },
                                    tooltip: {
                                        show: true,
                                        content: "%s: %p.0%", //%n show percentages, rounding to 2 decimal places
                                        shifts: {
                                            x: 20,
                                            y: 0
                                        },
                                        defaultTheme: false
                                    }
                                });
                            });
                        </script>
                    </div>
                    <div class="col-md-3 widget-container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-calendar"></i>&nbsp; Events </div>
                            <div id="upcoming-event-container">
                                <div class="panel-body">
                                    <div style="min-height: 190px;">
                                        <div class='text-center'>No event found!</div>
                                        <div class='text-center p15 text-off'><i class='fa fa-calendar' style='font-size:100px;'></i></div>
                                    </div>
                                    <div><a href="https://mindhatsolutions.com/portal/risecrm/index.php/events" class="btn btn-default b-a load-more mt15">View on calendar</a></div>
                                </div>
                            </div>
                        </div>

                        <script type="text/javascript">
                            $(document).ready(function() {
                                $('#upcoming-event-container').slimscroll({
                                    height: "285px",
                                    borderRadius: "0",
                                    color: "#ccc"
                                });
                            });
                        </script>
                    </div>
                    <div class="col-md-3 widget-container">
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <i class="fa fa-book"></i>&nbsp; Sticky Note (Private) </div>
                            <div id="upcoming-event-container">
                                <textarea name="note" cols="40" rows="10" id="sticky-note" class="sticky-note"></textarea>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <script type='text/javascript' src="{ % 'assets/js/flot/jquery.flot.min.js'  %}"></script>
            <script type='text/javascript' src="{ % 'assets/js/flot/jquery.flot.pie.min.js'  %}"></script>
            <script type='text/javascript' src="{ % 'assets/js/flot/jquery.flot.resize.min.js'  %}"></script>
            <script type='text/javascript' src="{ % 'assets/js/flot/curvedLines.js'  %}"></script>
            <script type='text/javascript' src="{ % 'assets/js/flot/jquery.flot.tooltip.min.js'  %}"></script>
            <script type="text/javascript">
                $(document).ready(function() {
                    $("#sticky-note").change(function() {
                        $.ajax({
                            url: "https://mindhatsolutions.com/portal/risecrm/index.php/dashboard/save_sticky_note",
                            data: {
                                sticky_note: $(this).val()
                            },
                            cache: false,
                            type: 'POST'
                        });
                    });

                    $('#project-timeline-container').slimscroll({
                        height: "955px",
                        borderRadius: "0",
                        color: "#ccc",
                        allowPageScroll: true
                    });
                    $('#upcoming-event-container').slimscroll({
                        height: "300px",
                        borderRadius: "0",
                        color: "#ccc",
                        allowPageScroll: true
                    });
                });
            </script>

        </div>
    </div>
</div>